* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --secondary-color: #2e2100;
    --tertiary-color: #171100;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =========== Common  ============ */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background: var(--tertiary-color, #171100);
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.heading {
    font-family: Sen;
    font-weight: 700;
    letter-spacing: -0.116rem;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.18; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.sub-heading {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
    color: #171100;
}

.desc {
    font-family: Poppins;
    font-weight: 400;
    color: #5f5b53;
}

.desc.lv1 {
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.desc.lv2 {
    font-size: 1.6rem;
    line-height: 1.75; /* 166.667% */
}

.desc.lv3 {
    font-size: 1.4rem;
    line-height: 1.85; /* 166.667% */
}
/* Header */
.fix-header,
.hero-wrap {
    background-color: #fffcf4;
}

.fix-header {
    padding-top: 24px;
}

.fix-header .navbar {
    padding: 12px 0;
}

.fix-header .navbar,
.fix-header ul {
    display: flex;
    align-items: center;
}

.fix-header ul {
    margin-left: auto;
}

.fix-header ul a {
    padding: 8px 21px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    color: #171100;
}

.fix-header .action-btn {
    margin-left: 49px;
    min-width: 144px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

/* ============ Hero ============ */
.hero-wrap .content {
    display: flex;
    padding-top: 52px;
}

/* Hero_Img-Block */
.hero-wrap .content {
    display: flex;
    padding-top: 52px;
}

.hero-wrap .img-block .main-img {
    margin-right: auto;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-wrap .img-block {
    width: 48%;
    position: relative;
}

.hero_subject-block {
    padding: 24px 58px 24px 24px;
    position: absolute;
    right: 0;
    top: 54%;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.subject {
    display: flex;
    align-items: center;
    gap: 16px;
}

.name-subject {
    margin-top: 3px;
}

.subject + .subject {
    margin-top: 22px;
}

.hero_subject-block .icon-lesson {
    width: 48px;
    height: 48px;
}

.subject-info .desc {
    font-size: 1.4rem;
}

/* Hero_Info-Block */
.hero-info {
    width: 52%;
    max-width: 100%;
    padding: 64px 0 0 130px;
}

.hero-info .desc.lv1 {
    margin-top: 22px;
}

.hero-action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-btn {
    min-width: 180px;
    line-height: 64px;
    font-size: 1.6rem;
    font-weight: 600;
    background: #ffb900;
}

.hero-action .link-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.hero-action .icon-play {
    width: 40px;
    height: 40px;
}

.hero-info .title-qty {
    margin-top: 48px;
}

.hero-info .hero-statis {
    margin-left: -28px;
}

.hero-statis .qty {
    font-weight: 700;
    font-size: 4.4rem;
}

.hero-statis strong {
    margin: 0 12px 0 28px;
}
/* ============ Courses ========== */
.courses-wrap {
    padding: 65px 0;
    margin-top: 135px;
}

.courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-header .title {
    font-family: Sen;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26; /* 126.316% */
    color: #171100;
    letter-spacing: -0.076rem;
}

.courses-header .desc {
    margin-top: 16px;
    width: 458px;
}

.courses-header .control-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;
    color: var(--primary-color);
}

.courses-header .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.courses-header .control-btn:last-child {
    margin-left: 12px;
}
/* Courses-List */
.courses-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.courses-list .item {
    flex: 1;
    border-radius: 12px;
}

.courses-list .item .body {
    padding: 16px 22px 22px 22px;
    border: 1px solid #e2dfda;
    border-top: none;
    border-radius: 0 0 12px 12px;
}

.courses-list .item:hover .body {
    border: 1px solid transparent;
    border-top: none;
}

.courses-list .link img {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses-list .row,
.courses-list .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-list .rating {
    gap: 6px;
}

.courses-list .socer {
    color: #fea31b;
}

.courses-list .item .desc-courses {
    margin-top: 6px;
}

.courses-list .item .booking {
    margin-top: 12px;
}

.courses-list .booking-btn:hover {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

/* ===========Feedback ============ */
.feedback-wrap {
    background-color: var(--secondary-color);
}

.feedback {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
}

.feedback .student {
    max-width: 159px;
}

.feedback .student .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .student .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.4rem; /* 141.667% */
}

.feedback .student .classroom-subject {
    color: #bfbcb2;
    margin: 6px 0 28px;
}

.feedback .action-tiny {
    display: flex;
}

.feedback .action-tiny .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    margin-left: 6px;
}

.feedback .dot:hover {
    cursor: pointer;
}

.feedback .dot.action {
    margin-left: 0;
    background-color: #ffb900;
}

.feedback .media-block {
    width: 66%;
}

.feedback .media-block .comment {
    margin-left: 30px;
    color: #fff;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem; /* 153.846% */
}
/* ============== features-1 ============ */
.features-wrap {
    padding: 200px 0;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .media-block .desc {
    margin-top: 16px;
}

.features .media-block .btn {
    margin-top: 32px;
    color: #fff;
    background-color: var(--primary-color);
    min-width: 137px;
    font-weight: 600;
    font-size: 16px;
}
/* Features-1 */
.features-1 .img-block {
    width: 48.7%;
    display: flex;
    justify-content: space-between;
}

.features-1 .img-block img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features-1 .img-block img:first-child {
    margin-top: 34px;
}

.features-1 .media-block {
    max-width: 475px;
}

/* Features-2 */
.features-2 {
    margin-top: 200px;
}

.features-2 .media-block {
    max-width: 49%;
}

.features-2 .img-block img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
/* ================Blog============ */
.blog-wrap {
    background-color: #fffcf4;
    padding: 96px 0;
}

.blog-header {
    text-align: center;
}

.blog-header .desc {
    max-width: 448px;
    margin: 16px auto 0;
}
/* Blog-list*/
.blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog-item {
    border-radius: 16px;
}

.blog-item img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item:nth-child(2) img {
    object-position: 0% 24%;
}

.title-blog {
    font-weight: 600;
    color: #171100;
}

.blog-item-body {
    display: inline-block;
    padding: 20px 20px 28px 20px;
    border: ;
}

.title-blog {
    margin-top: 28px;
}

.blog-item-body .btn {
    margin-top: 12px;
}

.blog-item-body .date {
    line-height: 2.6rem;
    margin-left: 10px;
    position: relative;
}

.blog-item-body .date::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog-item-body .date::after {
    position: absolute;
    bottom: -12px;
    left: -10px;
    display: inline-block;
    content: "";
    width: 160px;
    height: 2px;
    border-radius: 999px;
    background: #8d8b88;
}

.blog-item-body .btn:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.dot-nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.blog-wrap .dot-nav-block {
    margin-top: 38px;
}

.dot-nav {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #5f5b53;
}
/* ===============Footer============= */
.footer-wrap {
    padding: 96px 0 28px;
    background-color: var(--secondary-color);
}

.row-footer {
    display: flex;
    flex: 1;
    --width-column1: 35.5%;
}

.row-footer .desc {
    color: #bfbcb2;
}

.row-footer .column:first-child {
    width: var(--width-column1);
}

.row-footer .column {
    width: calc((100% - var(--width-column1)) / 3);
}

.row-footer .logo {
    padding-top: 5px;
}

.row-footer .column:first-child .help {
    margin-top: 18px;
    max-width: 267px;
}

.row-footer .column:first-child .social-block {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}

.row-footer .column .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #59554b;
}

.row-footer .column .list-item {
    margin-top: 28px;
}

.row-footer .column .list-item li ~ li {
    margin-top: 12px;
}

.row-footer .column .list-item strong {
    color: #fff;
    font-weight: 600;
}

.footer-line-deco {
    margin-top: 38px;
    max-width: 100%;
    height: 1px;
    background: #59554B;
}

.footer .copyright {
    margin-top: 28px;
    text-align: center;
}